@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
	min-height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.3);
	&-top {
		display: flex;
		justify-content: space-between;
	}
	.logo {
		padding-top: 36px;
		margin-bottom: 29px;
	}
	&-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.1);
		margin-top: 31px;
		cursor: pointer;
		div {
			width: 36px;
			height: 2px;
			background-color: #fff;
			margin: 6px 0;
		}
	}
	&-content__title {
		font-family: 'Roboto', sans-serif;
		font-size: 96px;
		line-height: 112px;
		margin-bottom: 40px;
	}
	&-content__text {
		max-width: 284px;
		margin-bottom: 25px;
	}
}

.menu {
	background-color: #000;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	transition: all .5s;
	z-index: 7;
	&.active {
		left: 0;
	}
	.container-menu {
		position: relative;
	}
	.close-btn {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 31px;
		right: 15px;
		cursor: pointer;
		&:after,
		&:before {
			content: '';
			width: 70px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			transform-origin: left;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
			bottom: -1px;
		}
	}
	&__list {
		height: 100vh;
		display: flex;
		align-items: center;
		a {
			font-size: 48px;
			line-height: 56px;
			font-weight: 700;
			padding: 30px 25px 14px 0;
			border-bottom: 3px solid $red;
			display: inline-block;
			min-width: 368px;
			transition: all .5s;
			&:hover {
				border-color: #fff;
				color: $red;
				transform: scale(1.1);
				margin-left: 17px;
			}
		}
	}
}

.slider {
	&__item {
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.slick-dots button {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $bg-color;
		outline: none;	
		border: none;
		padding: 0;
		font-size: 0;
		cursor: pointer;
	}
	.slick-dots .slick-active button {
		background-color: #fff;
	}
	.slick-dots li {
		display: inline-block;
		margin: 0 5px;
	}
	.slick-dots {
		margin: -55px auto 0;
		z-index: 6;
		position: relative;
		max-width: 1230px;
		padding: 0 15px;
	}
}

.statistics {
	margin: 160px 0 100px;
	&__items {
		display: flex;
		justify-content: space-around;
	}
	&__item {
		text-align: center;
	}
	&__item_title {
		margin-bottom: 19px;
	}
	&__item_num {
		font-size: 96px;
		line-height: 112px;
		margin-bottom: 7px;
		font-family: 'Roboto', sans-serif;
		span {
			font-size: 24px;
			line-height: 28px;
			font-family: 'Roboto Condensed', sans-serif;
		}
	}
	&__item_num--speed {
		span {
			display: inline-block;
			position: relative;
			&:before {
				content: '+';
				position: absolute;
				left: 0;
				top: -60px;
			}
		}
	}
	&__item_descr {
		color: $red;
	}
}

.video {
	margin-bottom: 100px;
}

.advantages {
	&__inner_row {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 100px;
	}
	&__descr {
		max-width: 570px;
		width: 100%;
	}
	&__title {
		position: absolute;
		top: 0;
		left: 0;
		color: $red;
		font-size: 36px;
		line-height: 24px;
	}
	&__title--bottom {
		top: auto;
		right: 0;
		bottom: 0;
		left: auto;
	}
	&__text {
		max-width: 303px;
	}
}
.design {
	&__images {
		margin-bottom: 100px;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	&__item {
		max-width: 570px;
		width: 100%;
		padding-right: 15px;
	}
	&__item_num {
		color: $red;
	}
	&__item_text {
		margin: 0 0 0 105px;
		max-width: 450px;
	}
}

.footer {
	min-height: 300px;
	background: $bg-footer;
	padding: 83px 0 20px;
	&__btn	{
		text-align: center;
		margin-bottom: 83px;
	}
	&__copy {
		text-align: center;
		font-weight: 700;
	}
	&__link {
		display: inline-block;
		padding: 0 10px;
		position: relative;
		& + .footer__link:before {
			content: '|';
			position: absolute;
			left: -5px;
		}
	}
}


@import "media";